doctype 5
html(lang="en")
	head
		title Fest
		link(rel='stylesheet', href='/assets/css/skeleton.css')
		link(rel='stylesheet', href='/assets/css/minified.css')

	body
		.top-menu
			h3.logo Wardrobe JS
			nav#nav-wrap				
				ul#nav
					li.menu-icon
						span.icon-bar
						span.icon-bar
						span.icon-bar
					li.item <a href="#">Item 1</a>
					li.item <a href="#">Item 2</a>
					li.item <a href="#">Item 3</a>
		.container
			
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		script(src='/assets/js/libs.js')
		script(src='/assets/js/app.js')